/*
________________

---- GLOBAL ----
________________

*/

* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

main {
    /*USED:   https://cssgradient.io/   for gradients*/
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 90%, rgba(0, 0, 0, 1) 100%),
        linear-gradient(90deg, rgba(255, 255, 255, 0) 90%, rgba(0, 0, 0, 1) 100%),
        linear-gradient(-90deg, rgba(255, 255, 255, 0) 90%, rgba(0, 0, 0, 1) 100%),
        url("./images/PageBGHalo.jpg");

    background-repeat: no-repeat;
    /*Make background image fixed position: https://www.w3schools.com/cssref/pr_background-attachment.asp*/
    background-attachment: fixed;
    background-size: 100%;
    background-position: 0 15vh;
}

header {
    position: fixed;
    display: flex;
    width: 100%;
    height: 15vh;
    flex-direction: column;
    background-color: rgb(0, 11, 14);
    color: white;
    z-index: 99;
}

#header-logo {
    font-size: 1.5em;
    color: #00B9FF;
}

#profile-icon {
    margin-right: 1em;
}

#header-profile-link {
    color: #00B9FF;
}



/* Edit styling in search box */

#header-search-form {
    position: relative;
    display: flex;
    flex-direction: row;
}

#header-search-box {
    background-color: #002836;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 12px 18px;
    width: 25vw;
}

#header-search-box:focus {
    outline: none;
}

#header-search-box::placeholder {
    color: #00bbffa9;
}

#header-search-box:focus::placeholder {
    color: transparent;
}

#header-search-box-button {
    background-color: #00B9FF;
    position: absolute;
    right: 1%;
    top: 50%;
    transform: translate(0, -50%);
    width: 10%;
    border-radius: 100px;
    border: 0;
    height: 85%;
    cursor: pointer;
}

/* End of styling edit on search box */


header section {
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    padding: 0 10% 0% 10%;
}

header a {
    color: white;
    text-decoration: none;
}

#header-profile-link {
    display: flex;
    align-items: center;
    justify-content: center;
}

#profile-icon {
    height: 8vh;
}



/*
___________________

---- HOMEPAGE ----
___________________

*/

#body-container {
    filter: drop-shadow(0 0 5px hsla(0, 0%, 100%, 0.185));
    background-color: white;
    border-radius: 1em;
    margin: 25vh 12vw 0 12vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 4em;
    border: 1px solid rgba(0, 0, 0, 0.5);
    min-height: 90vh;
}




/*
_______________________________

---- LOGIN & REGISTER PAGE ----
_______________________________

*/

#register-container,
#login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: rgb(250, 250, 250);
    filter: drop-shadow(0 0 5px hsla(0, 0%, 0%, 0.070));
    margin: 20vh 0 20vh 0;
    border-radius: 20px;
}

#login-form,
#register-form {
    width: 60%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1em;
}

#password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

.login-field {
    border: 1px solid black;
    padding: 0.5em;
}


/*
_____________________

---- Search page ----
_____________________
*/

#body-search-filter {
    height: 20vh;
    width: 100%;
}

#body-search-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
    padding: 0 4vw;
}

.body-search-list-game {
    display: flex;
    background-color: #b9b9b9;
    width: 85%;
    height: 6vh;
    border-radius: 1em 0.2em 0.2em 1em;
    padding: 1em;
}

.body-search-list-game-thumb {
    border-radius: 0.9em 0.2em 0.2em 0.9em;
    height: 100%;

    /*Adapted from: https://developer.mozilla.org/en-US/docs/Web/CSS/filter-function/drop-shadow()*/
    filter: drop-shadow(0px 0px 10px #000000);
}

.body-search-list-game-container2 {
    width: 100%;
    display: flex;
    align-items: center;
}