/*
________________

---- GLOBAL ----
________________

*/

* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

main {
    /*USED:   https://cssgradient.io/   for gradients*/
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 90%, rgba(0, 0, 0, 1) 100%),
        linear-gradient(90deg, rgba(255, 255, 255, 0) 90%, rgba(0, 0, 0, 1) 100%),
        linear-gradient(-90deg, rgba(255, 255, 255, 0) 90%, rgba(0, 0, 0, 1) 100%),
        url("./images/PageBGHalo.jpg");

    background-repeat: no-repeat;
    /*Make background image fixed position: https://www.w3schools.com/cssref/pr_background-attachment.asp*/
    background-attachment: fixed;
    background-size: 100%;
    background-position: 0 15vh;
}

header {
    position: fixed;
    display: flex;
    width: 100%;
    height: 15vh;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    color: white;
    z-index: 99;
}

h2 {
    color: hsla(196, 100%, 50%, 1);
    font-size: 1.3em;
}

a h2 {
    color: white;
}

.view-all-button {
    padding: 0.7em 1.5em;
    border-radius: 2em;
    text-decoration: none;
    background-color: hsla(196, 100%, 50%);
}

#header-logo {
    font-size: 1.5em;
    color: #00B9FF;
}

#profile-icon {
    margin-right: 1em;
}

#header-profile-link {
    color: #00B9FF;
}

.line-separator {
    width: 80%;
    border-top: 1px solid hsla(196, 100%, 50%, 0.1);
    margin-top: 2em;
    margin-bottom: 2em;
}


/* Styling of footer */

footer {
    width: 100vw;
    /* box shadow generator src: https://html-css-js.com/css/generator/box-shadow/ */
    -webkit-box-shadow: 5px 0px 50px 50px #000000;
    box-shadow: 5px 0px 50px 50px #000000;
}


/* Edit styling in search box */

#header-search-form {
    position: relative;
    display: flex;
    flex-direction: row;
}

#header-search-box {
    background-color: #002836;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 12px 18px;
    width: 25vw;
}

#header-search-box:focus {
    outline: none;
}

#header-search-box::placeholder {
    color: #00bbffa9;
}

#header-search-box:focus::placeholder {
    color: transparent;
}

#header-search-box-button {
    background-color: #00B9FF;
    position: absolute;
    right: 1%;
    top: 50%;
    transform: translate(0, -50%);
    width: 10%;
    border-radius: 100px;
    border: 0;
    height: 85%;
    cursor: pointer;
}

/* End of styling edit on search box */


header section {
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    padding: 0 10% 0% 10%;
}

header a {
    color: white;
    text-decoration: none;
}

#header-profile-link {
    display: flex;
    align-items: center;
    justify-content: center;
}

#profile-icon {
    height: 8vh;
}



/* General styling of how games are displayed */

#body-search-list,
#body-top-rated {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 5em;
    padding: 0 4vw;
}

.body-search-list-game {
    display: flex;
    background-color: #fafafa;
    width: 85%;
    height: 10vh;
    border-radius: 1em 0.2em 0.2em 1em;
    overflow: hidden;
    /*Adapted from: https://developer.mozilla.org/en-US/docs/Web/CSS/filter-function/drop-shadow()*/
    filter: drop-shadow(0px 0px 10px hsla(0, 0%, 0%, 0.12));
}

.body-search-list-game-thumb {
    height: 100%;

}

.body-search-list-game-container2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(221, 246, 255);
}

.game-container-title {
    font-size: 2em;
    margin-left: 1.5em;
    max-width: 60%;
}

.game-container-savings {
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: hsla(196, 100%, 50%);
    padding: 0.5em;
    filter: drop-shadow(0px 0px 10px hsla(0, 0%, 0%, 0.5));
    border-radius: 0 1em 0 0;
    font-size: 1em;
}

.game-container-salePrice {
    background-color: hsla(196, 100%, 50%);
    padding: 2.5em 1.7em;
    border-radius: 5em 0 0 5em;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    width: 4em;
}

#body-search-more {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

/*
___________________

---- HOMEPAGE ----
___________________

*/

#body-container {
    filter: drop-shadow(0 0 5px hsla(0, 0%, 100%, 0.185));
    background-color: rgb(250, 250, 255);
    border-radius: 1em;
    margin: 25vh 12vw 12vh 12vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 4em;
    min-height: 90vh;
    overflow: hidden;
    padding-bottom: 10vh;
}

#body-header-image-container {}

#body-header-linkwrapper {
    position: absolute;
    width: 100%;
    height: 40vh;
}

#body-header-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 100% 100%;
}

#body-header-image-button {
    position: absolute;
    bottom: 10%;
    right: 0%;
    color: white;
    background-color: hsla(196, 100%, 50%, 0.8);
    padding: 1em 20% 1em 3%;
    border-radius: 30em 0 0 30em;
    font-size: 0.8em;
}

.body-list-info {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

.loadMore {
    color: white;
    background-color: #00B9FF;
    text-decoration: none;
    padding: 1em 2em;
    border-radius: 1em;
    font-size: 1.3em;
}



/*
_______________________________

---- LOGIN & REGISTER PAGE ----
_______________________________

*/

#register-container,
#login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: rgb(250, 250, 250);
    filter: drop-shadow(0 0 5px hsla(0, 0%, 0%, 0.070));
    margin: 20vh 0 20vh 0;
    border-radius: 20px;
    height: fit-content;
    padding: 0 0 4em 0;
}

#login-form,
#register-form {
    width: 60%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1em;
}

#password-container,
#register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

.login-field {
    border: 1px solid black;
    padding: 0.5em;
}

#login-header,
#register-header {
    margin: 3em 0;
}

.login-input {
    color: #00B9FF;
}

#register-button,
#login-button-redirect {
    text-decoration: none;
    color: #00B9FF;
    margin: 0 1em;
}

#account-create {
    margin: 5em 0 0 0;
}

#show-password {
    color: #00B9FF;
    cursor: pointer;
}

#login-button,
#register-account {
    color: white;
    background-color: #00B9FF;
    border: none;
    margin: 2em auto 0 auto;
    padding: 1em 0;
    width: 40%;
    border-radius: 1em;
}

/*
_____________________

---- Search page ----
_____________________
*/

#body-search-filter {
    width: 100%;
    height: 40vh;
    margin-bottom: 6vh;
}

#body-search-container {
    width: 100%;
    margin-bottom: 6vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 15vh;
    background-color: hsla(0, 0%, 0%, 0.05);
}

select,
#lower-price,
#max-price {
    background-color: rgb(255, 255, 255);
    border: none;
    padding: 0.5em 1em;
    border-radius: 1em;
    font-size: 1.3em;
}

.styling-label {
    font-size: 1.3em;
}

#body-page-nav {
    margin-top: 8vh;
    display: flex;
    width: 25%;
    justify-content: space-evenly;
    align-items: center;
}

.pageNumbers {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00B9FF;
    width: 50px;
    height: 50px;
    border-radius: 10em;
    cursor: pointer;
}

#current {
    background-color: #eeeeee;
}


/*
____________________________

---- Specific Game Page ----
____________________________
*/

#one-game-container {
    margin: 10vh 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;
    padding: 2em 1em;
    border-radius: 1em;
    background-color: #eeeeee;
    filter: drop-shadow(0 0 50px hsla(0, 0%, 0%, 0.2));
    height: fit-content;
}

#one-game-image {
    width: 500px;
    height: 200px;
    border-radius: 3em;
}

#one-game-title {
    color: #00B9FF;
    font-size: 3em;
    font-weight: bold;
}

#one-game-info {
    margin-left: 2em;
}

#one-game-store-deals {
    width: 90%;
}

#one-game-info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    height: 30%;
    padding: 2em;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

#one-game-store-deal-text {
    font-size: 1.3em;
    font-weight: bold;
    margin: 2em 0;
}

.one-game-stores {
    margin: 3em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f3fcff;
    color: black;
    padding: 1em 2em;
    border-radius: 1em;
    filter: drop-shadow(0 0 6px hsla(0, 0%, 0%, 0.05));
}

.one-game-stores-redirect {
    color: white;
    text-decoration: none;
    background-color: #00B9FF;
    padding: 1em 2em;
    border-radius: 1em;
}

.one-game-stores-retail,
.one-game-stores-price,
.one-game-stores-savings {
    background-color: hsla(0, 0%, 0%, 0.1);
    padding: 1em 2em;
    border-radius: 2em;
}


/*
______________________

---- Profile Page ----
______________________
*/


#profile-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profile-username-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 1em;
}

#profile-header {
    margin: 3em 0;
}

#profile-username-change {
    margin: 0 3em;
}





/* ICOMOON */
/* src:  https://icomoon.io/app */

@font-face {
    font-family: 'icomoon';
    src: url('./fonts/icomoon.eot');
    src: url('./fonts/icomoon.eot') format('embedded-opentype'),
        url('./fonts/icomoon.ttf') format('truetype'),
        url('./fonts/icomoon.woff') format('woff'),
        url('./fonts/icomoon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
    content: "\e986";
    position: absolute;
    z-index: 1000;
    right: 4.5%;
    top: 25%;
}